@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
	width: 70px;
}

ul, ol {
	list-style:none;
}

.nav > li {
	float:left;
}

.nav li i {
	/* background-color:#000; */
	/* color:#fff; */
	text-decoration:none;
	/* padding:10px 12px; */
	display:block;
}

.nav li i:hover {
	background-color: rgb(55, 65, 81);
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.nav li:hover > ul {
	display:block;
	background-color: rgb(55, 65, 81);
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-140px;
	top:0px;
}